<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                <!--<mat-card class="card">-->
                    <div class="container text-center">
                        <img class="img_user" src="assets/images/User.png">
                    </div>
                    <h1 class="text-center titulo">{{title}}</h1>

                    <form (ngSubmit)=formSubmit() autocomplete="off" [formGroup]="form">

                        <div *ngIf="pantalla == 1 || pantalla == 2" class="container text-center">
                            <mat-form-field appearance="outline">
                                <mat-label>Usuario</mat-label>
                                <input matInput placeholder="1106785681" formControlName="user" inputmode="numeric" pattern="[0-9]*" (input)="onInputChange($event)">
                                <mat-error *ngIf="form.get('user')?.invalid && (form.get('user')?.dirty || form.get('user')?.touched)">Escriba el usuario</mat-error>
                            </mat-form-field>
                        </div>

                        <div *ngIf="pantalla == 1 || pantalla == 3"  class="container text-center">
                            <mat-form-field appearance="outline">
                                <mat-label>Contraseña</mat-label>
                                <input type="password" matInput placeholder="" formControlName="password">
                                <mat-error *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">Escriba la contraseña</mat-error>
                            </mat-form-field>
                        </div>

                        <div *ngIf="pantalla == 3"  class="container text-center">
                            <mat-form-field appearance="outline">
                                <mat-label>Confirmar contraseña</mat-label>
                                <input type="password" matInput placeholder="" formControlName="confirmPassword">
                                <mat-error *ngIf="form.get('confirmPassword')?.invalid && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">Confirma la contraseña</mat-error>
                            </mat-form-field>

                        </div><div *ngIf="pantalla == 3"  class="container text-center">
                            <mat-form-field appearance="outline">
                                <mat-label>Contraseña temporal</mat-label>
                                <input type="password" matInput placeholder="" formControlName="passwordTemporal">
                                <mat-error *ngIf="form.get('passwordTemporal')?.invalid && (form.get('passwordTemporal')?.dirty || form.get('passwordTemporal')?.touched)">Escriba la contraseña temporal</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="container text-center">
                            <img class="img_gym" src="assets/images/GymCamp.png">
                        </div>

                        <div class="container text-center buttons">
                            <button class="button1">{{buttonSend}}</button>
                            <!--<button class="button1">Limpiar</button>-->
                        </div>
                    </form>

                    <div class="container text-center buttons">
                        <button class="button1 calcel" (click)="calcel()">Cancelar</button>
                        <!--<button class="button1">Limpiar</button>-->
                    </div>
                    
                    <h5 *ngIf="pantalla == 1" class="text-center forgot" (click)="forgot()">¿Olvidó la contraseña?</h5>

                    
                <!--</mat-card>-->
            </div>
        </div>
    </div>
</div>