<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                <!--<mat-card class="card">-->
                    <div class="container text-center">
                        <img class="img_user" src="assets/images/User.png">
                    </div>
                    <h1 class="text-center titulo">Iniciar sesión</h1>

                    <form (ngSubmit)=formSubmit() autocomplete="off" [formGroup]="form">

                        <div class="container text-center">
                            <mat-form-field appearance="outline">
                                <mat-label>Correo electrónico</mat-label>
                                <input matInput placeholder="josex.1995@hotmail.com" formControlName="user">
                                <mat-error *ngIf="form.get('user')?.invalid">Escriba un email</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="container text-center">
                            <mat-form-field appearance="outline">
                                <mat-label>Contraseña</mat-label>
                                <input type="password" matInput placeholder="" formControlName="password">
                                <mat-error *ngIf="form.get('password')?.invalid">Escriba la contraseña</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="container text-center">
                            <img class="img_gym" src="assets/images/GymCamp.png">
                        </div>

                        <div class="container text-center buttons">
                            <button class="button1">Ingresar</button>
                            <!--<button class="button1">Limpiar</button>-->
                        </div>
                        
                        <h5 class="text-center forgot">¿Olvidó la contraseña?</h5>

                    </form>
                <!--</mat-card>-->
            </div>
        </div>
    </div>
</div>