<mat-form-field *ngIf="showSearch" [ngClass]="{'table-1' : typeStyle==1}">
    <input matInput (keyup)="applyFilter($event)" [placeholder]="searchTitle">
</mat-form-field>


<div class="col-12 max-width-container" [class.mat-elevation-z2]="typeStyle!=2" style="padding: 0px;" [ngClass]="{'table-1' : typeStyle==1,'table-transparente': typeStyle==2}">

    <table mat-table [dataSource]="dataSource" matSort [ngClass]="{'table-1' : typeStyle==1,'table-transparente': typeStyle==2}">

        <ng-container [matColumnDef]="dt" *ngFor="let dt of attrData;let i=index">

            <ng-container *ngIf="dt!=='opcion' && dt!=='button' && dt!=='opciones' && dt!== '_sel' ">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{namesColumns[i]}} </th>
                <td mat-cell *matCellDef="let element" style="padding-right: 20px;" [ngClass]="{'number':isNumber(element[dt])}"> {{ toShow(element[dt] , dt) }} </td>
            </ng-container>

            <ng-container *ngIf="dt=='button'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{_button?.titulo}} </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button style="background-color: #EA1D75; color: white;" class="Update-btn" (click)="changeSelectSede(element)">{{_button?.titulo}} </button>
                </td>
            </ng-container>

            <ng-container *ngIf="dt=='_sel'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>

                    <mat-checkbox [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                    </mat-checkbox>
                    {{namesColumns[i]}}
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [checked]="element._sel" (change)="selDt($event.checked,element)">

                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container *ngIf="dt=='opcion'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button class="table-icon-button" matTooltip="Editar" matTooltipClass="tooltip-style" (click)="edit(element)">
                        <mat-icon class="icon-table">edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container *ngIf="dt=='opciones'">
                <th class="center-buttons-options" style="width: 14%;" mat-header-cell *matHeaderCellDef mat-sort-header> {{namesColumns[i]}}</th>
                <td mat-cell *matCellDef="let element" class="button-container">
                    <ng-container *ngFor="let item of element.opciones; index as i;">
                        <button mat-icon-button [class]="item.class" style="margin-right: 10px;" [matTooltip]="item.tool_tip" (click)="edit2(element, ((item.id)?item.id:i) )">
                            <mat-icon [color]="item.color"   >{{item.icon}}</mat-icon>
                        </button>
                    </ng-container>
                </td>
            </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="attrData" class="header"></tr>
        <tr mat-row *matRowDef="let row; columns: attrData;" style="background-color: #ffffff00;"></tr>
    </table>
</div>
<mat-paginator *ngIf="showPaginator" class="sombra" [ngClass]="{'table-1' : typeStyle==1,'table-transparente': typeStyle==2 }" [pageSize]="pageSize" [pageSizeOptions]="[ 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>