<app-header [isLogin]="true" [isHome]="true" [menu]="true"></app-header>
<div class="wrapper">
    <div class="container">
        <div class="row">

            <h5 class="text-center bienvenido">Bienvenido Admin:</h5>
            <h5 class="text-center nombre">{{datosAdministrador.nombre}}</h5>

            <div class="text-center">
                <img class="imagen" src="https://static.vecteezy.com/system/resources/previews/026/781/389/non_2x/gym-interior-background-of-dumbbells-on-rack-in-fitness-and-workout-room-photo.jpg" alt="Imagen de portada">
            </div>

            <div class="text-center">
                <img class="imagen" src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2019/03/11/15523046827096.jpg" alt="Imagen entrenamiento">
            </div>
        </div>
    </div>
</div>