<app-header [isHome]="true"></app-header>
<div class="wrapper">
    <div class="container">
        <div class="row">

            <div class="text-center">
                <img class="img_gym" src="assets/images/GymCamp.png">
            </div>

            <form (ngSubmit)="formSubmit()" autocomplete="off" [formGroup]="form">

                <div class="form-row">
                  <div class="text-center">
                    <mat-form-field appearance="outline">
                      <mat-label>Tipo de documento</mat-label>
                      <mat-select formControlName="documentType">
                        <mat-option *ngFor="let type of documentTypes" [value]="type.label">{{ type.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                
                  <div class="text-center">
                    <mat-form-field appearance="outline">
                      <mat-label>Número de identificación</mat-label>
                      <input matInput placeholder="1234567890" formControlName="document">
                      <mat-error *ngIf="form.get('document')?.invalid">Ingrese un número de identificación</mat-error>
                    </mat-form-field>
                  </div>
              
                  <div class="text-center">
                    <button class="accep" (click)="accep()">Aceptar</button>
                  </div>
                </div>
              
            </form>
            
            <div class="text-center">
                <img class="imagen" src="https://img.freepik.com/foto-gratis/hombre-joven-fitness-estudio_7502-5008.jpg?size=626&ext=jpg&ga=GA1.1.946239694.1713571200&semt=sph" alt="Imagen de portada">
            </div>

            <div class="text-center">
                <img class="imagen" src="https://img.freepik.com/foto-gratis/vista-angulo-hombre-musculoso-irreconocible-preparandose-levantar-barra-club-salud_637285-2497.jpg" alt="Imagen entrenamiento">
            </div>
              
            <div class="text-center">
                <button class="login" (click)="login()">Ingresar</button>
            </div>
        </div>
    </div>
</div>
