<app-header [isHome]="true"></app-header>
<div class="wrapper">
    <div class="container">
        <div class="row">

            <div class="text-center">
                <img class="img_gym" src="assets/images/GymCamp.png">
            </div>

            <form (ngSubmit)="formSubmit()" autocomplete="off" [formGroup]="form">

                <div class="form-row">
                  <div class="text-center">
                    <mat-form-field appearance="outline">
                      <mat-label>Tipo de documento</mat-label>
                      <mat-select formControlName="documentType">
                        <mat-option *ngFor="let type of documentTypes" [value]="type.label">{{ type.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                
                  <div class="text-center">
                    <mat-form-field appearance="outline">
                      <mat-label>Número de identificación</mat-label>
                      <input matInput placeholder="1234567890" formControlName="document">
                      <mat-error *ngIf="form.get('document')?.invalid">Ingrese un número de identificación</mat-error>
                    </mat-form-field>
                  </div>
              
                  <div class="text-center">
                    <button class="accep" (click)="accep()">Aceptar</button>
                  </div>
                </div>
              
            </form>
            
            <div class="text-center">
                <img class="imagen" src="https://scontent.fbog15-1.fna.fbcdn.net/v/t39.30808-6/217427943_101715218862092_7275572051416035815_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=783fdb&_nc_eui2=AeFNe7xu4VLMw3dWlesp2Sgrw7yeBWs-lQfDvJ4Faz6VByu4cSt_d7Ck_uuyc9g6ipoauDXMN2IfusKvik2aDgyK&_nc_ohc=LsXeFHTJoXQAX-Wz-Fq&_nc_zt=23&_nc_ht=scontent.fbog15-1.fna&oh=00_AfD3IU-HiPfAZ3P4eRZVMs67xg8CuFg1SKRs0e2UzswWYg&oe=65E00E65" alt="Imagen de portada">
            </div>

            <div class="text-center">
                <img class="imagen" src="https://scontent.fbog15-1.fna.fbcdn.net/v/t39.30808-6/413858175_10225105637407698_5203904579553048902_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeGc7s0ueV8pln0Hm-3M81fkdPytBiVQjNN0_K0GJVCM0wXIWPEDdgcQuK08BoiyI3CRGFhqyqMaIAc7zw3RAZIb&_nc_ohc=3vuvTETlrCIAX8NtLRO&_nc_zt=23&_nc_ht=scontent.fbog15-1.fna&oh=00_AfDDWte-n4kNmMy6srd3UrU2HD3Fkf1guhWVXjIFxi3nPQ&oe=65DEDA9B" alt="Imagen entrenamiento">
            </div>
              
            <div class="text-center">
                <button class="login" (click)="login()">Ingresar</button>
            </div>
        </div>
    </div>
</div>
