<app-header [isLogin]="true" [menu]="true"></app-header>

<div class="wrapper">
    <div class="container">
        <div class="row">

            <div class="text-center">
                <br><br>
                <h2>Gym Camp</h2>
                <h3>NIT: 900.005.300.121-12</h3>
                <br><br><br>
                <h1>Estado de cuenta de los usuarios</h1>
            </div>
            <app-data-table [opcion]="false" [attrData]="attrData" [namesColumns]="nameColumns" [data]="dtList" [pageSize]=5 [typeStyle]="1" ></app-data-table>
        </div>
    </div>
</div>
