<div class="pie-pagina">

    <p>&#9401; Desarrollado por José Andres Saavedra Romero</p>
       
    <!--Siguientes ipervinculos a paginas externas-->
    <a href="https://www.linkedin.com/in/jose-andres-saavedra-romero-desarrollador-mobile" target="_blank"><img src="assets/images/Linkedin.png" class="pgn" alt="icono Linkedin"></a>
    <a href="https://github.com/Jasr24" target="_blank"><img src="assets/images/GitHub.png" class="pgn" alt="icono GitHub"></a>
    <a href="https://twitter.com/JarsGamer/likes" target="_blank"><img src="assets/images/X.png" class="pgn" alt="icono X"></a>
    <a href="mailto:josex.1995@hotmail.com" target="_blank"><img src="assets/images/Correo.png" class="pgn" alt="icono Correo"></a>
    
</div>